{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock nav%}

{% block style %}
                       
{% endblock style %}
<style>
    .icon{
        width: 7%;
        height: auto;
        margin: 3px 10px 3px 3px;
    }
</style>
{% block content %}

<div class="container-xxl py-5">
    <!-- Page Header Start -->
        <div class="container">
        <div class="col-lg-6">
            <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">졸업작품 소개</h1>
        </div>
    </div>
    </div>
</div>

    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="{% static 'img/about.png' %}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4 jamsil">Clothify에 대하여</h1>
                    <p class="mb-4 jamsil">옷을 손쉽게 관리한다는 뜻으로, "Cloth"와 "Simplify"의 합성어입니다.</p>
                    <p class="jamsil"><i class="fa fa-check text-primary me-3"></i>가상피팅</p>
                    <p class="jamsil"><i class="fa fa-check text-primary me-3"></i>옷장관리</p>
                    <p class="jamsil"><i class="fa fa-check text-primary me-3"></i>코디추천</p>
                    <p class="jamsil"><i class="fa fa-check text-primary me-3"></i>옷 자랑</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Feature Start -->
    <div class="container-fluid bg-light bg-icon py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3 jamsil">조원 프로필</h1>
                <p class="jamsil">9조 조원의 소개입니다.</p>
            </div>
            <div class="row g-4 jamsil">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white h-100 p-4 p-xl-5">
                        <div class="text-left">
                            <img class="img-fluid mb-4" src="{% static 'img/ymy.png' %}" alt="" style="width:100%; height:auto;">
                            <p></p>
                            <i class="fa-solid fa-user"></i>
                            <a class="text-dark" href="">유민영</a>
                            <p></p>
    
                            <i class="fa-solid fa-envelope"></i>
                            <a class="text-dark" href="">bambooiscoming2000@gmail.com</a>
                            <p></p>
    
                            <i class="fa-solid fa-id-card"></i>
                            <a class="text-dark" href="">협성대학교 컴퓨터공학과 20학번</a>
                            <p></p>
                            
                            <i class="fa-regular fa-sidebar"></i>
                            <a class="text-dark" href="https://github.com/m1yaaang">https://github.com/m1yaaang</a>
                            <p></p>
    
                            <i class="fa">
                                <img class="icon" src="{% static 'icon/skills_icon.png' %}" style="width:7%; height:auto; margin: 3px 10px 3px 3px;">
                            </i>
                            <a class="text-dark" href="">파이썬, 인공지능, HTML, CSS, JavaScript</a>
                            <p></p>
                            
                            <i>
                                <img class="icon" src="{% static 'icon/introduce_icon.png' %}" style="width:7%; height:auto; margin: 3px 10px 3px 3px;">
                            </i>
                            <a class="text-dark" href="">VITON_HD와 OpenPose를 이용한 사진 가상피팅 및 옷장, 날씨 API 구현</a>
                            <p></p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white h-100 p-4 p-xl-5">
                        <div class="text-left">
                            <img class="img-fluid mb-4" src="{% static 'img/testimonial-2.jpg' %}" alt="" style="width:100%; height:auto;">
                            <p></p>
                            <i class="fa-solid fa-user"></i>
                            <a class="text-dark" href="">김한영</a>
                            <p></p>
    
                            <i class="fa-solid fa-envelope"></i>
                            <a class="text-dark" href="">sg851044@naver.com</a>
                            <p></p>
    
                            <i class="fa-solid fa-id-card"></i>
                            <a class="text-dark" href="">협성대학교 컴퓨터공학과 17학번</a>
                            <p></p>
                            
                            <i class="fa-regular fa-sidebar"></i>
                            <a class="text-dark" href="https://github.com/Game2njoy">https://github.com/Game2njoy</a>
                            <p></p>
    
                            <i class="fa">
                                <img class="icon" src="{% static 'icon/skills_icon.png' %}" style="width:7%; height:auto; margin: 3px 10px 3px 3px;">
                            </i>
                            <a class="text-dark" href="">파이썬, 인공지능, HTML, CSS, JavaScript</a>
                            <p></p>
    
                            <i>
                                <img class="icon" src="{% static 'icon/introduce_icon.png' %}" style="width:7%; height:auto; margin: 3px 10px 3px 3px;">
                            </i>
                            <a class="text-dark" href="">OpneCv와 SAM을 이용한 실시간 가상피팅, 코디북, 회원가입, 옷 자랑, ChatGPT를 통한 코디 추천 구현 </a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-white h-100 p-4 p-xl-5">
                        <div class="text-left">
                            <img class="img-fluid mb-4" src="{% static 'img/hjh.png' %}" alt="" style="width:100%; height:auto;" >
                            <p></p>
                            <i class="fa-solid fa-user"></i>
                            <a class="text-dark" href="">황지현</a>
                            <p></p>
    
                            <i class="fa-solid fa-envelope"></i>
                            <a class="text-dark" href="">hwgjh20@gmail.com</a>
                            <p></p>
    
                            <i class="fa-solid fa-id-card"></i>
                            <a class="text-dark" href="">협성대학교 컴퓨터공학과 20학번</a>
                            <p></p>
                            
                            <i class="fa-regular fa-sidebar"></i>
                            <a class="text-dark" href="https://github.com/Wus01">https://github.com/Wus01</a>
                            <p></p>
    
                            <img class="icon" src="{% static 'icon/skills_icon.png' %}" style="width:7%; height:auto; margin: 3px 10px 3px 3px;">
                            <a class="text-dark" href="">파이썬, HTML, CSS, JavaScript</a>
                            <p></p>
    
                            <img class="icon" src="{% static 'icon/introduce_icon.png' %}" style="width:7%; height:auto; margin: 3px 10px 3px 3px;">
                            <a class="text-dark" href="">옷장 및 필터 구현</a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
{% endblock %}