{% load static %}
<!DOCTYPE html>
<html lang="ko">    
<head>
    <meta charset="utf-8">
    <title>Clothify</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="https://kit.fontawesome.com/acf5847467.css" crossorigin="anonymous"> {% endcomment %}
    

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/login-register.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block style %}
                       
    {% endblock style %}
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <!-- cf. follow등 info nav바 삭제함 -->

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="{% url 'index' %}" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold m-0 jamsil" style="color: #0b83f7; text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;">C<span class="fs-1" style="color: #6fa8dc;">lo<span class="fs-3">th</span></span><span class="fs-4" style="color: #8fce00;">ify</span></h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    {% block nav %}
                       
                    {% endblock nav %}
                    {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle jamsil" data-bs-toggle="dropdown">Clothes</a>             
                        <div class="dropdown-menu m-0" style="top: 60px;">
                            <a href="{% url 'view_closet' user.first_name %}" class="dropdown-item jamsil">My closet</a>
                            <a href="{% url 'blog' user.first_name %}" class="dropdown-item jamsil">Codi book</a>
                            <a href="{% url 'uploadCloset' user.first_name %}" class="dropdown-item jamsil">(Test)Upload</a>
                        </div>
                    </div>
                    <a href="{% url 'logout' %}" class="nav-item nav-link jamsil vis">로그아웃</a>    
                    {% else %}
                    <a href="{% url 'login' %}" class="nav-item nav-link jamsil vis">로그인</a> 
                    {% endif %}
                    

                </div>
                <div class="d-none d-lg-flex ms-2">
                    {% if user.is_authenticated %}
                    <span class="nav-link jamsil" style="padding-left: 0px;">{{ user.username|title }}<span style="color: black;">님 반갑습니다!</span></span><button type="button" class="nav-link btn btn-outline-primary btn-sm jamsil" style="color: black;" onclick="location.href='{% url 'logout' %}'">로그아웃</button>
                    {% else %}
                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="{% url 'login' %}">
                        <small class="fas fa-user-large text-body"></small>
                    </a>
                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="{% url 'signup' %}">
                    {% comment %} <a class="btn-sm-square bg-white rounded-circle ms-3" data-bs-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();"> {% endcomment %}
                        <small class="fas fa-user-plus text-body"></small>
                    </a>
                    {% endif %}
                    {% comment %} <a href="{% url 'blog' %}" class="btn-sm-square bg-white rounded-circle ms-3">
                        <small class="fa fa-anchor text-body"></small>
                    </a>
                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="">
                        <small class="fa fa-shopping-bag text-body"></small> 
                    </a>{% endcomment %}
                </div>
            </div>
        </nav>
    </div>
    {% comment %} 모달창 {% endcomment %}
    {% comment %} <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title">로그인</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="modalClose()">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="box">
                       <div class="content">
                          <div class="social">
                              <a class="circle github" href="#">
                                  <i class="fa fa-github fa-fw"></i>
                              </a>
                              <a id="google_login" class="circle google" href="#">
                                  <i class="fa fa-google-plus fa-fw"></i>
                              </a>
                              <a id="facebook_login" class="circle facebook" href="#">
                                  <i class="fa fa-facebook fa-fw"></i>
                              </a>
                          </div>
                          <div class="division">
                              <div class="line l"></div>
                                <span>or</span>
                              <div class="line r"></div>
                          </div>
                          <div class="error"></div>
                          <div class="form loginBox">
                              <form method="" action="" accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                <input class="btn btn-default btn-login" type="button" value="로그인" onclick="loginAjax()">
                              </form>
                          </div>
                       </div>
                  </div>
                  <div class="box">
                      <div class="content registerBox" style="display:none;">
                       <div class="form">
                          <form method="POST" html="{:multipart=>true}" data-remote="true" action="{% url 'signup' %}" accept-charset="UTF-8">
                            {% csrf_token %}
                            <input id="email" class="form-control" type="text" placeholder="Email" name="email" value="{{ form.username.value|default_if_none:'' }}">
                            <input id="password" class="form-control" type="password" placeholder="Password" name="password" value="{{ form.password1.value|default_if_none:'' }}">
                            <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation" value="{{ form.password2.value|default_if_none:'' }}">
                            <input class="btn btn-default btn-register" type="button" value="회원가입" name="commit">
                          </form>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <div class="forgot login-footer">
                      <span>Looking to
                           <a href="javascript: showRegisterForm();">create an account</a>
                      ?</span>
                  </div>
                  <div class="forgot register-footer" style="display:none">
                       <span>Already have an account?</span>
                       <a href="javascript: showLoginForm();">Login</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            openLoginModal();
        });

        function modalClose() {
            $('#loginModal').modal('hide'); 
            $('#loginModal').hide();
            $('.jquery-modal').click();
        }
    </script> {% endcomment %}
    
    <!-- Navbar End -->

    <!-- Main Start -->
    {% block content %}

    {% endblock content %}
    <!-- Main End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-0 pt-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h1 class="fw-bold mb-1 jamsil" style="color: #0b83f7; text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;">C<span class="fs-1" style="color: #6fa8dc;">lo<span class="fs-3">th</span></span><span class="fs-4" style="color: #8fce00;">ify</span></h1>
                    <p class="jamsil">옷을 손쉽게 관리한다는 뜻으로, "Cloth"와 "Simplify"의 합성어입니다.</p>
                    {% comment %} <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4 jamsil">정보</h4>
                    <p class="hahmelt"><i class="fa fa-user me-3"></i>협성대학교 졸업작품</p>
                    {% comment %} <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p> {% endcomment %}
                    <p class="hahmelt"><i class="fa fa-envelope me-3"></i>sg851033@gmail.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4 jamsil">바로가기</h4>
                    <a class="btn btn-link jamsil" href="">가상 피팅</a>
                    {% if user.is_authenticated %}
                    <a class="btn btn-link jamsil" href="{% url 'detail_closet' user.first_name %}">옷장 관리</a>
                    <a class="btn btn-link jamsil" href="{% url 'blog' user.first_name %}">코디 추천</a>
                    {% else %}
                    <a class="btn btn-link jamsil" href="{% url 'login' %}">옷장 관리</a>
                    <a class="btn btn-link jamsil" href="{% url 'login' %}">코디 추천</a>
                    {% endif %}
                    
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4 jamsil">알림받기</h4>
                    <p class="hahmelt">새로운 기능이 업데이트되면 알려줍니다!</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-contrfol bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="이메일을 입력하세요.">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2 jamsil">구독</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">Clothify</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        {% comment %} Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/acf5847467.js" crossorigin="anonymous"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    
    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'assets/js/login-register.js' %}" type="text/javascript"></script>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    
</body>
{% block jsv %}

{% endblock jsv%}
</html>
