{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}
{% block closet %}
    <a href="#" class="nav-link dropdown-toggle active jamsil" data-bs-toggle="dropdown">Clothes</a>
{% endblock closet %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-xxl py-5">
        <!-- Page Header Start -->
        <div class="container">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">내 옷장</h1>
                    <p class="jamsil">내 옷들을 등록하고 한 눈에 관리하세요!</p>
                 </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    
    <!-- Product Start -->
    <div class="container-xxl py-5 jamsil">
        <div class="container">
            <div class="col text-start text-lg-end wow fadeInUp" data-wow-delay="0.1s">
                <a class="btn btn-lg btn-outline-primary border-2 jamsil" href="{% url 'view_closet' user.first_name %}">목록</a>
    {%comment%} <a class="btn btn-lg btn-outline-danger border-2 jamsil" onclick="confirmDelete()">삭제</a>     {%endcomment%}
            </div>
           
            <br>
            <div class="tab-content wow fadeIn" data-wow-delay="0.1s">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" > 
                            <div class="carousel-inner">
                                {% for p in photosobject%}
                                    {% if p.row_number == 1%}
                                        <div class="carousel-item active" >
                                            <img src="{{p.imgfile.url}}" class="d-block w-50 mx-auto" alt="...">
                                        
                                        </div>
                                    {% else %}
                                        <div class="carousel-item" >
                                            <img src="{{p.imgfile.url}}" class="d-block w-50 mx-auto" alt="...">
                                            
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if photosobject.count != 1 %}
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                            {% endif %}
                        </div>

                        <table class="table" style="float:left;">
                            <tr>
                                <th>이름</th>
                                <th>분류1</th>
                                <th>분류2</th>
                                <th>태그</th>
                                <th>상세정보</th>
                                <th>업로드 시간</th>
                            </tr>

                                {% if clothesobject %}
                                <tr>
                                    <tr>
                                        <td>{{ clothesobject.name }}</td>
                                        <td>{{ clothesobject.type1 }}</td>
                                        <td>{{ clothesobject.type2 }}</td>
                                        <td>{{ clothesobject.tag }}</td>
                                        <td>{{ clothesobject.details }}</td>
                                        <td>{{ clothesobject.upload_date }}</td>
                                    </tr>
                                </tr>
                                {%endif%}
                        </table>

                        <div class="btn-container" name="btn-container">
                            <div class="d-inline p-2">
                                <button class="btn-submit" type="button" float:right; onclick = "location.href = '{% url 'updateCloset' user.first_name groupID %}' ">
                                    <p class="align-middle jamsil" id="btnText" style="padding-top: 15px;">옷 업데이트</p>
                                </button>
                            </div>
                            
                            <div>
                                <button class="btn-submit" type="button" id="btn_delete" onclick="confirmDelete()">
                                    <p class="align-middle jamsil" id="btnText" style="padding-top: 15px;">옷 삭제</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product End -->
{% endblock content %}


{% block jsv %}
<script>
    function confirmDelete() {
      Swal.fire({
        title: '정말로 삭제할 건가요?',
        text: "삭제하면 복구할 수 없습니다",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '삭제',
        cancelButtonText: '안 함',
        customClass: {
            title: 'jamsil',
            container: 'jamsil',
        }
      }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                icon: 'success',
                title: '삭제 완료!',
                text: '잠시 후 내 옷장으로 돌아갑니다',
                showConfirmButton: false,
                allowOutsideClick: false,
                customClass: {
                    title: 'jamsil',
                    container: 'jamsil',
                }
              })
            setTimeout(() => {
                window.location.href = "{% url 'remove_closet' user.first_name groupID %}"; // 폼 제출
            }, 2000)}
      });
    }
    </script>
{% endblock jsv %}