{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">가상 피팅</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}
{% block closet %}
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Clothes</a>
{% endblock closet %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
            <div class="col-lg-6" style="padding-top: 100px;">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3 jamsil">로그인</h1>
                    <p class="jamsil">로그인을 해보세요!</p>
                    <div class="container my-3" style="padding-left: 0px;">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% include "form_errors.html" %}
                            <div class="mb-3 jamsil">
                                <label for="username">아이디</label>
                                <input type="text" class="form-control" name="username" id="username"
                                value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                            <div class="mb-3 jamsil">
                                <label for="password">비밀번호</label>
                                <input type="password" class="form-control" name="password" id="password"
                                value="{{ form.password.value|default_if_none:'' }}">
                            </div>
                            {% if request.GET.next %}
                               <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                            <button type="submit" class="btn btn-primary jamsil">로그인</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}