{% extends 'base.html' %}
{% load socialaccount %} 
{% load static %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">가상 피팅</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}
{% block closet %}
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Clothes</a>
{% endblock closet %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="padding-top: 127px; padding-bottom: 190px;">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">마이페이지</h1>
                    <p class="jamsil">마이페이지</p>
                    <div class="container my-3" style="padding-left: 0px;">
                        <a href="{% url 'user_modify' %}" class="btn btn-primary btn-lg rounded-pill py-sm-2 jamsil" style="text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black; font-size:20px">정보수정</a>
                    </div>
                    <div class="container my-3" style="padding-left: 0px;">
                        <a href="{% url 'user_style' user.first_name %}" class="btn btn-secondary btn-lg rounded-pill py-sm-2 jamsil" style="text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black; font-size:20px">선호하는 스타일</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}