{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
    <link href="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.css" rel="stylesheet">


{% endblock style %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">가상 피팅</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-xxl py-5">
        <!-- Page Header Start -->
        <div class="container">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                    
                    <form method="POST">
                        {% csrf_token %}
                        <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">나만의 옷장</h1>
                        <p class="jamsil" >👚 해당 옷을 정말로 삭제하시겠어요?!?!?! </p>
                        <p>{{ remove_clothes.name }} - 삭제하기</p>
                        <button>삭제</button>
                    </form>

                 </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Product Start -->
    
    
{% endblock content %}
<!-- Product End -->

{% block jsv %}
<script defer src="{% static 'js/upload_closet.js' %}"></script>
<script defer src="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.js"></script>
<script defer src="https://releases.transloadit.com/uppy/locales/v3.0.7/ko_KR.min.js"></script>
<script type="module">
    // import {Uppy, Dashboard, DropTarget, Compressor, XHRUpload, ImageEditor} from "https://releases.transloadit.com/uppy/v3.6.1/uppy.min.mjs"
    //const COMPANION_URL = "http://companion.uppy.io"
    // const COMPANION_ALLOWED_HOSTS = ['https://my-site.com']
    // const COMPANION_URL = '{% url 'uploadCloset' user.username %}'
    //const COMPANION_ALLOWED_HOSTS = ['http://127.0.0.1:8000/']
    
    var uppy = new Uppy.Uppy({ logger: Uppy.debugLogger ,
                                meta: {
                                    type1: type1,
                                    type2: type2,
                                    tag: tag,
                                    name: clothesName,
                                    details: details
                                },
                                locale : Uppy.locales.ko_KR,
    })
        // The main UI that shows files, progress and holds all plugins
        .use(Uppy.Dashboard, {
            id: 'Dashboard',
            target: '.fileUploadContent',
            inline: true,
            height: 800,
            width: 1000,
            metaFields: [ //이미지 수정용 metaFields
                { id: 'name', name: 'Name', placeholder: 'file name' },
                { id: 'caption', name: 'Caption', placeholder: 'add description' },
            ],
            note: 'Images only, Up to 10 files',
            produlyDisplayPoweredByUppy:false,
            autoOpenFileEditor: false,
            //hideUploadButton : true,
        })

        .use(Uppy.Form, { 
                        target: '#clothesInfo',
                        getMetaFromForm: true,
                        addResultToForm: true,
                        //triggerUploadOnSubmit: true, //Uppy가 업로드/인코딩을 완료한 후 양식을 제출할지 여부를 구성합니다(부울, 기본값: false).
                        //submitOnSuccess: true, //모든 파일이 업로드된 후 양식을 실제로 제출해야 하는 경우
                        resultName: 'FormInfo', //<input type="hidden">의 요소의 이름 (string, default: uppyResult).
                      })
        
        // Allow dropping files on any element or the whole document
        .use(Uppy.DropTarget, { target: document.body })
        // Optimize images
        .use(Uppy.Compressor)
        // Upload
        .use(Uppy.XHRUpload,{
            endpoint: "{% url 'uploadCloset' user.first_name %}",
            headers: {'X-CSRFToken':"{{csrf_token}}"},
            formData: true,
            fileData: true,
            fieldName:'imgfile',
            allowedMetaFields:true,
        })

        .use(Uppy.ImageEditor, { target: Uppy.Dashboard })    



        // All remote services like Instagram and Google Drive in one package
        /*
        .use(Uppy.RemoteSources, {
            // You can manually specify `sources` here, by default all available are included. 
            // See docs: https://uppy.io/docs/remote-sources/#sources.
            companionUrl: COMPANION_URL,
            companionAllowedHosts: COMPANION_ALLOWED_HOSTS,
            sources: ['Instagram', 'GoogleDrive', 'Facebook', 'OneDrive', 'Url'],
        })
        .use(Uppy.Webcam, { target: Uppy.Dashboard })
        */

        
        uppy.upload().then((result) => {
            console.info('Successful uploads:', result.successful);
        
            if (result.failed.length > 0) {
                console.error('Errors:');
                result.failed.forEach((file) => {
                    console.error(file.error);
                });
            }
        });
        
        {% comment %} uppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        }) {% endcomment %}
</script>

{% endblock jsv%}
