{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
    <link href="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.css" rel="stylesheet">


{% endblock style %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">가상 피팅</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-xxl py-5">
        <!-- Page Header Start -->
        <div class="container">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">나만의 옷장</h1>
                    <p class="jamsil">👚 옷을 등록해서 나만의 옷장을 만들어요.</p>
    
                 </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="col text-start text-lg-end wow fadeInUp" data-wow-delay="0.1s">
                <a class="btn btn-lg btn-outline-primary border-2 jamsil" href="{% url 'view_closet' user.first_name %}">목록</a>
            </div>
            <div class="row g-0 gx-5 align-items-end pt-3">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp"
                         data-wow-delay="0.1s"
                         style="max-width: 500px">
                        <h1 class="display-5 mb-3 jamsil">옷장 업데이트</h1>
                    </div>
                </div>
            </div>
            <div class="tab-content jamsil wow fadeInUp" data-wow-delay="0.1s">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div>
                            <div id="att_zone" data-placeholder="">
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></div>
                            </div>
                        </div>
                        <div>
                            <form action=""
                                  method="POST"
                                  name="clothesInfo"
                                  id="clothesInfo"
                                  enctype="multipart/form-data"
                                  >
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label for="type1" class="col-sm-2 col-form-label text-end fw-bold">분류 1</label>
                                    <select name="type1" id="type1" size="1" class="form-select col" required>
                                        <option value="none" disabled>=== 분류 1 ===</option>
                                        <option>상의</option>
                                        <option>하의</option>
                                        <option>치마</option>
                                        <option>원피스</option>
                                        <option>아우터</option>
                                        <option>가방</option>
                                        <option>악세서리</option>
                                        <option>신발</option>
                                    </select>
                                </div>
                                <div class="mb-3 row">
                                    <label for="type2" class="col-sm-2 col-form-label text-end fw-bold">분류 2</label>
                                    <select name="type2" id="type2" size="1" class="form-select col" required>
                                        <option value="none" disabled selected>=== 분류 2 ===</option>
                                    </select>
                                </div>
                                <div class="mb-3 row">
                                    <label for="name" class="col-sm-2 col-form-label text-end fw-bold">옷 이름</label>
                                    <input type="text" name="clothesName" id="clothesName"class="form-control col" placeholder="(필수 입력)" value="{{clothesobject.name}}" required/>
                                </div>
                                <!-- tag -->
                                <div class="mb-3 row">
                                    <label for="tag" class="col-sm-2 col-form-label text-end fw-bold">태그</label>
                                    <input type="text" name="tag" id="tag" class="form-control col" 
                                           placeholder="#꾸안꾸 #출근룩 #가죽 #스웨이드 (특수문자🙅‍♀️)"/>
                                    <button type="button" id="btn_addtag" class="btn_addtag col-sm-2" style="border:none" >추가</button>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label text-end"></label>
                                    <div class="col tag_area">
                                        
                                    </div>
                                </div>
                                <!--tag 추가해서 띄우는 label-->
                                <div class="mb-3 row" >
                                    <label class="col-sm-2 col-form-label text-end"></label>
                                    <input type="text" name="tags" id="tags" class="form-control col" value="{{clothesobject.tag}}" readonly/>
                                </div>
                                <div class="mb-3 row">
                                    <label for="details" class="col-sm-2 col-form-label text-end fw-bold" >상세정보</label>
                                    <textarea name="details" id="details" class="form-control col details" rows="5" placeholder="생략 가능" >{{clothesobject.details}}</textarea>
                                </div>
                                <!-- hidden  -->
                                <input hidden id="groupID" type="text" value="{{clothesobject.groupID}}"></input>
                                <div class="mb-3 row">
                                    <label for="details" class="col-sm-2 col-form-label text-end fw-bold" >업로드 사진</label>
                                    <div class="container col">
                                        <div class="row row-cols-4">
                                            {% for p in photosobject %}
                                                <div class="col">
                                                    <img class="img-fluid w-100" src="{{p.imgfile.url}}" width="200px" height="300px" margin="10%" padding="10%" alt="">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                
                                <br>
                                <!-- Uppy Dashboard -->
                                <div class="mb-3 row">
                                    <label class="col-sm-2"></label>
                                    <div class="fileUploadContent col"></div>
                                </div>
                                <!-- button design -->
                                <div class="btn-container" name="btn-container">
                                    <button id="btn-submit" class="btn-submit">
                                        <p class="jamsil" id="btnText" style="padding-top: 15px;">저장</p>
                                        <div class="check-box">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                                <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
<!-- Product End -->

{% block jsv %}
{% comment %} <script defer src="{% static 'js/update_closet.js' %}"></script> {% endcomment %}
<script defer src="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.js"></script>
<script defer src="https://releases.transloadit.com/uppy/locales/v3.0.7/ko_KR.min.js"></script>
<script type="module">
    // import {Uppy, Dashboard, DropTarget, Compressor, XHRUpload, ImageEditor} from "https://releases.transloadit.com/uppy/v3.6.1/uppy.min.mjs"
    //const COMPANION_URL = "http://companion.uppy.io"
    // const COMPANION_ALLOWED_HOSTS = ['https://my-site.com']
    // const COMPANION_URL = '{% url 'uploadCloset' user.username %}'
    //const COMPANION_ALLOWED_HOSTS = ['http://127.0.0.1:8000/']
    
    var uppy = new Uppy.Uppy({ logger: Uppy.debugLogger ,
                                meta: {
                                    type1: type1,
                                    type2: type2,
                                    tag: tag,
                                    name: clothesName,
                                    details: details,
                                    groupID: groupID,
                                },
                                locale : Uppy.locales.ko_KR,
    })
        // The main UI that shows files, progress and holds all plugins
        .use(Uppy.Dashboard, {
            id: 'Dashboard',
            target: '.fileUploadContent',
            inline: true,
            height: 800,
            width: 1000,
            metaFields: [ //이미지 수정용 metaFields
                { id: 'name', name: 'Name', placeholder: 'file name' },
                { id: 'caption', name: 'Caption', placeholder: 'add description' },
            ],
            note: 'Images only, Up to 10 files',
            produlyDisplayPoweredByUppy:false,
            autoOpenFileEditor: false,
            hideUploadButton : true,
            hideProgressAfterFinish : true,
        })

        .use(Uppy.Form, { 
                        target: '#clothesInfo',
                        getMetaFromForm: true,
                        addResultToForm: true,
                        //triggerUploadOnSubmit: true, //Uppy가 업로드/인코딩을 완료한 후 양식을 제출할지 여부를 구성합니다(부울, 기본값: false).
                        //submitOnSuccess: true, //모든 파일이 업로드된 후 양식을 실제로 제출해야 하는 경우
                        resultName: 'FormInfo', //<input type="hidden">의 요소의 이름 (string, default: uppyResult).
                      })
        
        // Allow dropping files on any element or the whole document
        .use(Uppy.DropTarget, { target: document.body })
        // Optimize images
        .use(Uppy.Compressor)
        // Upload
        .use(Uppy.XHRUpload,{
            endpoint: "{% url 'uploadCloset' user.first_name %}",
            headers: {'X-CSRFToken':"{{csrf_token}}"},
            formData: true,
            fileData: true,
            fieldName:'imgfile',
            allowedMetaFields:true,
        })

        .use(Uppy.ImageEditor, { target: Uppy.Dashboard })
        
        

        // All remote services like Instagram and Google Drive in one package
        /*
        .use(Uppy.RemoteSources, {
            // You can manually specify `sources` here, by default all available are included. 
            // See docs: https://uppy.io/docs/remote-sources/#sources.
            companionUrl: COMPANION_URL,
            companionAllowedHosts: COMPANION_ALLOWED_HOSTS,
            sources: ['Instagram', 'GoogleDrive', 'Facebook', 'OneDrive', 'Url'],
        })
        .use(Uppy.Webcam, { target: Uppy.Dashboard })
        */
  

    uppy.upload().then((result) => {
        console.info('Successful uploads:', result.successful);
    
        if (result.failed.length > 0) {
            console.error('Errors:');
            result.failed.forEach((file) => {
                console.error(file.error);
            });
        }
    });
        
    document.getElementById('clothesInfo').addEventListener('keydown', function(event) {
        if (event.keyCode === 13) {
            event.preventDefault(); // Enter 키 이벤트 기본 동작 중지
        }
    });
    
    document.getElementById('btn-submit').addEventListener('click', () => {
        validationData();
        
        if(validationData_value){
            uppy.upload();
            document.getElementById('btn-submit').hidden=true;
        }
        
        setTimeout(function() {
            my_form.submit();
            }, 3000);
            return false;
    }); 


    document.getElementById("clothesInfo").onsubmit = function() {
        return false;
    }
    // ===== form 유효성 테스트 =====
    var validationData_value = false;
    var submitform = document.getElementById("clothesInfo"); // form을 sumitform 변수에 저장

    function validationData(){
        const files = uppy.getFiles();
        if($('#type1').val() == "" || $('#type1').val() == "none" || $('#type1').val() == null){ // input form이 비어있으면
            alert("분류1을 선택하지 않았습니다."); 
            validationData_value= false;
        }else if($('#type2').val() == "" || $('#type2').val() == "none" || $('#type2').val() == null){ // input form이 비어있으면
            alert("분류2을 선택하지 않았습니다."); 
            validationData_value= false;
        }else if($('#clothesName').val() == "" || $('#clothesName').val() == "none" || $('#clothesName').val() == null){ // input form이 비어있으면
            alert("이름을 입력하지 않았습니다."); 
            validationData_value= false;
        }else{ // 사진이 있으면?
            alert("수정 완료!")
            validationData_value= true;
            setTimeout(function() {
                submitform.submit();
                }, 1500);
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getType(){
        var mainCategory = {
            "상의" : ["=== 분류 2 ===","니트/스웨터","셔츠/블라우스","후드 티셔츠", "피케/카라 티셔츠","맨투맨/스웨트셔츠", "반소매 티셔츠","긴소매 티셔츠","민소매 티셔츠","기타 상의"],
            "하의" : ["=== 분류 2 ===","데님 팬츠","숏 팬츠","코튼 팬츠", "레깅스","슈트 팬츠/슬랙스","점프 슈트/오버올","트레이닝/조거 팬츠","기타 바지"],
            "치마" : ["=== 분류 2 ===","미니 스커트", "미디 스커트","롱 스커트"],
            "원피스" : ["=== 분류 2 ===","미니 원피스", "미디 원피스","맥시 원피스"],
            "아우터" : ["=== 분류 2 ===","후드 집업","환절기 코트", "블루종/MA-1","겨울 코트", "레더/라이더스 재킷","무스탕/퍼","롱패딩/롱헤비 아우터","슈트/블레이저 재킷","숏패딩/숏헤비 아우터","카디건","아노락 재킷","패딩 베스트","플리스/뽀글이","트레이닝 재킷","기타 아우터"],
            "가방" : ["=== 분류 2 ===","백팩","메신저/크로스 백","파우치 백","숄더백","에코백","토트백","클로치 백","웨이스트백/힙색"],
            "악세서리" : ["=== 분류 2 ===","모자","레그웨어","머플러","장갑","시계","팔찌","귀걸이","반지","발찌","목걸이","헤어 액세서리"],
            "신발" : ["=== 분류 2 ===","구두","샌들","로퍼","힐/펌프스","플랫 슈즈","부츠","캔버스/단화","스포츠 스니커즈"],
        }

        var top = ["=== 분류 2 ===","니트/스웨터","셔츠/블라우스","후드 티셔츠", "피케/카라 티셔츠","맨투맨/스웨트셔츠", "반소매 티셔츠","긴소매 티셔츠","민소매 티셔츠","기타 상의"];
        var pants = ["=== 분류 2 ===","데님 팬츠","숏 팬츠","코튼 팬츠", "레깅스","슈트 팬츠/슬랙스","점프 슈트/오버올","트레이닝/조거 팬츠","기타 바지"];
        var skirt = ["=== 분류 2 ===","미니 스커트", "미디 스커트","롱 스커트"];
        var dress = ["=== 분류 2 ===","미니 원피스", "미디 원피스","맥시 원피스"];
        var outer = ["=== 분류 2 ===","후드 집업","환절기 코트", "블루종/MA-1","겨울 코트", "레더/라이더스 재킷","무스탕/퍼","롱패딩/롱헤비 아우터","슈트/블레이저 재킷","숏패딩/숏헤비 아우터","카디건","아노락 재킷","패딩 베스트","플리스/뽀글이","트레이닝 재킷","기타 아우터"];
        var bag = ["=== 분류 2 ===","백팩","메신저/크로스 백","파우치 백","숄더백","에코백","토트백","클로치 백","웨이스트백/힙색"];
        var accessary = ["=== 분류 2 ===","모자","레그웨어","머플러","장갑","시계","팔찌","귀걸이","반지","발찌","목걸이","헤어 액세서리"];
        var shoes = ["=== 분류 2 ===","구두","샌들","로퍼","힐/펌프스","플랫 슈즈","부츠","캔버스/단화","스포츠 스니커즈"];
    
        var selectedMain = "{{clothesobject.type1}}";
        var selectedsub = "{{clothesobject.type2}}"
        var changeItem = top;

        console.log("main ",selectedMain,"/ sub",selectedsub);

        if(selectedMain == "상의"){
            changeItem = top;
            document.getElementById("type1").options[1].selected=true;
        }
        else if(selectedMain == "하의"){
            changeItem = pants;
            document.getElementById("type1").options[2].selected=true;
        }
        else if(selectedMain == "치마"){
            changeItem =  skirt;
            document.getElementById("type1").options[3].selected=true;
        }
        else if(selectedMain == "원피스"){
            changeItem = dress;
            document.getElementById("type1").options[4].selected=true;
        }
        else if(selectedMain == "아우터"){
            changeItem = outer;
            document.getElementById("type1").options[5].selected=true;
        }
        else if(selectedMain == "가방"){
            changeItem = bag;
            document.getElementById("type1").options[6].selected=true;
        }
        else if(selectedMain == "악세서리"){
            changeItem = accessary;
            document.getElementById("type1").options[7].selected=true;
        }
        else if(selectedMain == "신발"){
            changeItem = shoes;
            document.getElementById("type1").options[8].selected=true;
        }
        
        $('#type2').empty();
        
        for(var count = 0; count < changeItem.length; count++){                
                        var option = $("<option>"+changeItem[count]+"</option>");
                        $('#type2').append(option);
                    }

        
        for(var count = 1; count < changeItem.length; count++){                
            if (selectedsub == changeItem[count]){
                document.getElementById("type2").options[count].selected=true;
            }
        }
        
    }

    function subChange(){

        var mainCategory = {
            "상의" : ["=== 분류 2 ===","니트/스웨터","셔츠/블라우스","후드 티셔츠", "피케/카라 티셔츠","맨투맨/스웨트셔츠", "반소매 티셔츠","긴소매 티셔츠","민소매 티셔츠","기타 상의"],
            "하의" : ["=== 분류 2 ===","데님 팬츠","숏 팬츠","코튼 팬츠", "레깅스","슈트 팬츠/슬랙스","점프 슈트/오버올","트레이닝/조거 팬츠","기타 바지"],
            "치마" : ["=== 분류 2 ===","미니 스커트", "미디 스커트","롱 스커트"],
            "원피스" : ["=== 분류 2 ===","미니 원피스", "미디 원피스","맥시 원피스"],
            "아우터" : ["=== 분류 2 ===","후드 집업","환절기 코트", "블루종/MA-1","겨울 코트", "레더/라이더스 재킷","무스탕/퍼","롱패딩/롱헤비 아우터","슈트/블레이저 재킷","숏패딩/숏헤비 아우터","카디건","아노락 재킷","패딩 베스트","플리스/뽀글이","트레이닝 재킷","기타 아우터"],
            "가방" : ["=== 분류 2 ===","백팩","메신저/크로스 백","파우치 백","숄더백","에코백","토트백","클로치 백","웨이스트백/힙색"],
            "악세서리" : ["=== 분류 2 ===","모자","레그웨어","머플러","장갑","시계","팔찌","귀걸이","반지","발찌","목걸이","헤어 액세서리"],
            "신발" : ["=== 분류 2 ===","구두","샌들","로퍼","힐/펌프스","플랫 슈즈","부츠","캔버스/단화","스포츠 스니커즈"],
        }

        var selectItem = $("#type1").val();
        
        $('#type2').empty();
        for(var count = 0; count < mainCategory[selectItem].length; count++){                
                        var option = $("<option>"+mainCategory[selectItem][count]+"</option>");
                        $('#type2').append(option);
                    }
        
    }

    

    function getTag(){ //유효성 검사 + 엔터 누르면 tag label에 추가시키는 코드
        var valuelist = "{{clothesobject.tag}}";
        //var valuelist = $('#tags').val();
        var tagarea = document.getElementsByClassName("tag_area")[0];
        var reg = /[\s\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
        var val = '';
        val = valuelist.split(',');
    
        if (!(valuelist === '' || valuelist === null || valuelist === false)) {
            //버튼 삽입
            for (var i=0; i<val.length;i++){

                const btnElement = document.createElement('button');
                btnElement.type = "button";
                btnElement.classList.add("tag_btn");
                btnElement.innerHTML = '<span class="tag_text">' + val[i] + '</span><i class="fa-sharp fa-solid fa-xmark tag_delete"></i>';
                tagarea.appendChild(btnElement);
        
                const cnt_tag = document.getElementsByClassName("tag_delete").length -1
                document.getElementsByClassName("tag_delete")[cnt_tag].addEventListener("click", deleteTag);
                
                // 디자인
                document.getElementsByClassName('tag_btn')[cnt_tag].style.borderRadius = '30px';
                document.getElementsByClassName('tag_btn')[cnt_tag].style.border = '1px solid gray';
                document.getElementsByClassName('tag_btn')[cnt_tag].style.marginRight = '15px';
                document.getElementsByClassName('tag_btn')[cnt_tag].style.marginTop = '10px';
                document.getElementsByClassName('tag_btn')[cnt_tag].style.padding = '10px';
                document.getElementsByClassName('tag_delete')[cnt_tag].style.marginLeft = '10px';
            }
            
        }else{
        }
    }

    function addTag(){ //유효성 검사 + 엔터 누르면 tag label에 추가시키는 코드
        var value = $('#tag').val();
        var valuelist = $('#tags').val();
        var tagarea = document.getElementsByClassName("tag_area")[0];
        var reg = /[\s\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
        var tagvalue = value.replace(reg, "");
    
        if (value===''|| value==null || value ==false){
            alert("추가할 tag를 입력해주세요.");
        }else{
            if (valuelist==''){
                $('#tags').val('#' + tagvalue); // value 삽입하는 코드
            }
            else{
                $('#tags').val(valuelist+', #'+tagvalue); // value 삽입하는 코드
            }
            //버튼 삽입
            const btnElement = document.createElement('button');
            btnElement.type = "button";
            btnElement.classList.add("tag_btn");
            btnElement.innerHTML = '<span class="tag_text">#' + tagvalue + '</span><i class="fa-sharp fa-solid fa-xmark tag_delete"></i>';
            tagarea.appendChild(btnElement);
    
            const cnt_tag = document.getElementsByClassName("tag_delete").length -1
            document.getElementsByClassName("tag_delete")[cnt_tag].addEventListener("click", deleteTag);
            
            // 디자인
            document.getElementsByClassName('tag_btn')[cnt_tag].style.borderRadius = '30px';
            document.getElementsByClassName('tag_btn')[cnt_tag].style.border = '1px solid gray';
            document.getElementsByClassName('tag_btn')[cnt_tag].style.marginRight = '15px';
            document.getElementsByClassName('tag_btn')[cnt_tag].style.marginTop = '10px';
            document.getElementsByClassName('tag_btn')[cnt_tag].style.padding = '10px';
            document.getElementsByClassName('tag_delete')[cnt_tag].style.marginLeft = '10px';
            
        $('#tag').val('');
        }
    }

    function deleteTag(){
        var tags_list = document.getElementById('tags').value.split(",");
        var delete_tag = this.previousSibling.textContent;
        var delete_num = tags_list.indexOf(delete_tag)
        
        tags_list = tags_list.splice(delete_num-1,1)

        document.getElementById('tags').value = tags_list.join(',');
        this.parentNode.remove();
    
    }

    window.onload=function(){
        getType();
        getTag();
        

        document.getElementById("type1").addEventListener("change", subChange);
        document.getElementById("btn_addtag").addEventListener("click", addTag);
    }
</script>

{% endblock jsv%}
