{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
    <link href="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.css" rel="stylesheet">
{% endblock style %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">가상 피팅</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">My closet</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a class="text-body" href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-body" href="#">Pages</a>
                    </li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">My closet</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="col text-start text-lg-end">
                <a class="btn btn-lg btn-outline-primary border-2 " href="{% url 'view_closet' %}">목록</a>
            </div>
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp"
                         data-wow-delay="0.1s"
                         style="max-width: 500px">
                        <h1 class="display-5 mb-3">My closet upload</h1>
                        <p>👚 옷을 등록해서 나만의 옷장을 만들어요.</p>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div>
                            <div id="att_zone" data-placeholder="">
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></div>
                            </div>
                        </div>
                        <div>
                            <form action=""
                                  method="POST"
                                  name="clothes_info"
                                  id="clothes_info"
                                  enctype="multipart/form-data"
                                  onkeydown="return event.key != 'Enter';"
                                  onsubmit="return validationData"
                                  >
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label for="type1" class="col-sm-2 col-form-label text-end fw-bold">분류 1</label>
                                    <select name="type1" id="type1" size="1" class="form-select col" onchange="itemChange()">
                                        <option value="none" disabled selected>=== 분류 1 ===</option>
                                        <option>상의</option>
                                        <option>바지</option>
                                        <option>치마</option>
                                        <option>원피스</option>
                                        <option>아우터</option>
                                        <option>가방</option>
                                        <option>악세서리</option>
                                        <option>신발</option>
                                    </select>
                                </div>
                                <div class="mb-3 row">
                                    <label for="type2" class="col-sm-2 col-form-label text-end fw-bold">분류 2</label>
                                    <select name="type2" id="type2" size="1" class="form-select col">
                                        <option value="none" disabled selected>=== 분류 2 ===</option>
                                    </select>
                                </div>
                                <div class="mb-3 row">
                                    <label for="name" class="col-sm-2 col-form-label text-end fw-bold">옷 이름</label>
                                    <input type="text" name="name" id="name"class="form-control col" placeholder="(필수 입력)"/>
                                </div>
                                <!-- tag -->
                                <div class="mb-3 row">
                                    <label for="tag" class="col-sm-2 col-form-label text-end fw-bold">태그</label>
                                    <input type="text" name="tag" id="tag" class="form-control col" 
                                    onkeyup="if(window.event.keyCode==13){addtag()}" placeholder="#꾸안꾸 #출근룩 #가죽 #스웨이드 (특수문자🙅‍♀️)"/>
                                    <button type="button" id="btn-addtag" class="btn-addtag col-sm-2" onclick="addtag()">추가</button>
                                </div>
                                <!--tag 추가해서 띄우는 label-->
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label text-end"></label>
                                    <input type="text" name="tags" id="tags" class="form-control col" readonly/>
                                </div>
                                <div class="mb-3 row">
                                    <label for="details" class="col-sm-2 col-form-label text-end fw-bold">상세정보</label>
                                    <textarea name="details" id="details" class="form-control col" rows="5" placeholder="생략 가능"></textarea>
                                </div>
                                <!-- Uppy Dashboard -->
                                <div class="mb-3 row">
                                    <label class="col-sm-2"></label>
                                    <div class="fileUploadContent col"></div>
                                </div>

                                <!-- button design -->
                                <div class="btn-container" name="btn-container">
                                    <button id="btn-submit" class="btn-submit" type="sumbit" onkeyup="if(window.event.keyCode==13){}">
                                        <p id="btnText">Submit</p>
                                        <div class="check-box">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                                <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Product End -->
{% endblock content %}

{% block jsv %}
<script defer src="{% static 'js/upload_closet.js' %}"></script>
<script defer src="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.js"></script>
<script type="module">
    // import {Uppy, Dashboard, DropTarget, Compressor, XHRUpload, ImageEditor} from "https://releases.transloadit.com/uppy/v3.6.1/uppy.min.mjs"
    console.log("test")

    const COMPANION_URL = "http://companion.uppy.io"
    const COMPANION_ALLOWED_HOSTS = ['https://my-site.com']
    
    var uppy = new Uppy.Uppy({ logger: Uppy.debugLogger })
    // const uppy = new Uppy({ logger: debugLogger })
        // The main UI that shows files, progress and holds all plugins
        .use(Uppy.Dashboard, {
            id: 'Dashboard',
            target: '.fileUploadContent',
            inline: true,
            height: 800,
            width: 1000,
            metaFields: [
                { id: 'name', name: 'Name', placeholder: 'file name' },
                { id: 'caption', name: 'Caption', placeholder: 'add description' },
            ],
            note: 'Images only, Up to 10 files',
            produlyDisplayPoweredByUppy:false,
            //autoOpenFileEditor: true,
        })
        .use(Uppy.Form, { 
                        id : 'imgFile',
                        target: '#clothes_info',
                        getMetaFromForm: true,
                        addResultToForm: true,
                        resultName: 'imgFile',
                        triggerUploadOnSubmit: false,
                        submitOnSuccess: false})
        
        // Allow dropping files on any element or the whole document
        .use(Uppy.DropTarget, { target: document.body })
        // Optimize images
        .use(Uppy.Compressor)
        // Upload
        //.use(Uppy.Tus, { endpoint: 'https://tusd.tusdemo.net/files/' })
        .use(Uppy.XHRUpload,{
            endpoint: '{% url 'upload_file' %}',
            headers: {'X-CSRFToken':"{{csrf_token}}"},
            formData: true,
            fileData: true,
            fieldName:'imgfile',
        })

        .use(Uppy.ImageEditor, { target: Uppy.Dashboard })    



        // All remote services like Instagram and Google Drive in one package
        
        .use(Uppy.RemoteSources, {
            // You can manually specify `sources` here, by default all available are included. 
            // See docs: https://uppy.io/docs/remote-sources/#sources.
            companionUrl: COMPANION_URL,
            companionAllowedHosts: COMPANION_ALLOWED_HOSTS,
            sources: ['Instagram', 'GoogleDrive', 'Facebook', 'OneDrive', 'Url'],
        })
        .use(Uppy.Webcam, { target: Uppy.Dashboard })
        .use(Uppy.ScreenCapture, { target: Uppy.Dashboard }) 
         
        
        
        uppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        })
</script>

{% endblock jsv%}
