<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.css" rel="stylesheet">
    
</head>

<body>
    <!-- Modal trigger -->
    <form
        action=""
        method="POST"
        name="img_info"
        class="img_info"
        id="img_info"
        enctype="multipart/form-data">

        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label text-end fw-bold">옷 이름</label>
            <input type="text" name="clothesName" id="clothesName"class="form-control col" placeholder="(필수 입력)"/>
        </div>
        <div class="mb-3 row">
            <label for="tag" class="col-sm-2 col-form-label text-end fw-bold">태그</label>
            <input type="text" name="tag" id="tag" class="form-control col" 
            onkeyup="if(window.event.keyCode==13){addtag()}" placeholder="#꾸안꾸 #출근룩 #가죽 #스웨이드 (특수문자🙅‍♀️)"/>
            <button type="button" id="btn-addtag" class="btn-addtag col-sm-2" onclick="addtag()">추가</button>
        </div>
        <!-- <button class="UppyModalOpenerBtn">Open Uppy Dashboard Modal</button> -->
    
        <div class="fileuploadcontent">
            <input type="file" name="files[]" multiple="" hide>
        </div>

        <button type="submit" id="btnSubmit">submit</button>

    </form>

    <script type="module">
        const COMPANION_URL = "http://companion.uppy.io"
        const COMPANION_ALLOWED_HOSTS = ['https://my-site.com']
        
        var uppy = new Uppy.Uppy({ logger: Uppy.debugLogger ,
                                    meta: { tag: tag,
                                            name: clothesName,

                                        },
                                    onBeforeUpload: (files) => {
                                        console.log("this is event before upload");
                                        }
        })
        // var uppy = new Uppy.Uppy({ logger: Uppy.debugLogger })
        // const uppy = new Uppy({ logger: debugLogger })
            // The main UI that shows files, progress and holds all plugins
            .use(Uppy.Dashboard, {
                id: 'Dashboard',
                target: '.fileuploadcontent',
                inline: true,
                height: 470,
                metaFields: [ //파일 수정용 metaFields
                    { id: 'name', name: 'Name', placeholder: 'file name' },
                    { id: 'caption', name: 'Caption', placeholder: 'add description' },
                ],
                note: 'Images only, Up to 10 files',
                autoOpenFileEditor: true,
            })
            // All remote services like Instagram and Google Drive in one package
            .use(Uppy.Form, { 
                            target: '.img_info',
                            getMetaFromForm: true,
                            addResultToForm: true,
                            // resultName: 'imgFile',
                            triggerUploadOnSubmit: false,
                            submitOnSuccess: false})
            // Allow dropping files on any element or the whole document
            .use(Uppy.DropTarget, { target: document.body })
            
            // Upload
            .use(Uppy.XHRUpload,{
                endpoint: '{% url 'uploadFile' %}',
                headers: {'X-CSRFToken':"{{csrf_token}}"},
                formData: true,
                fileData: true,
                fieldName:'imgfile',
                //fieldName:'.clothes_info',
                allowedMetaFields:true,
            })

            // Optimize images
            .use(Uppy.Compressor)
            // .use(Uppy.RemoteSources, {
            //     // You can manually specify `sources` here, by default all available are included. 
            //     // See docs: https://uppy.io/docs/remote-sources/#sources.
            //     companionUrl: COMPANION_URL,
            //     companionAllowedHosts: COMPANION_ALLOWED_HOSTS,
            //     sources: ['Instagram', 'GoogleDrive', 'Facebook', 'OneDrive', 'Url'],
            // })
            // .use(Uppy.Webcam, { target: Uppy.Dashboard })
            // .use(Uppy.ScreenCapture, { target: Uppy.Dashboard })
            // .use(Uppy.ImageEditor, { target: Uppy.Dashboard })

        uppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        })

        uppy.on('upload-success', (file, response) => {
            console.log(file.name, response.uploadURL)

          })
    </script>
    <script>
        document.getElementById("btnSubmit").onsubmit = function(){
            var imgFiles = document.getElementById("imgFile")
            console.log(imgFiles.name)
        }
    </script>
    <script src="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.js"></script>
</body>

</html>