{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}
{% block closet %}
    <a href="#" class="nav-link dropdown-toggle active jamsil" data-bs-toggle="dropdown">Clothes</a>
{% endblock closet %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-xxl py-5">
        <!-- Page Header Start -->
        <div class="container">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">내 옷장</h1>
                    <p class="jamsil">내 옷들을 등록하고 한 눈에 관리하세요!</p>
                 </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <div class="option_container">
                        <div class="type1_box">
                            <ul class="ms-unselected"><span></span></ul>
                                <select id="type1" width="100%" size="5">
                                    <option value="" disabled>== 분류 1 ==</option>
                                    <option>상의</option>
                                    <option>하의</option>
                                    <option>치마</option>
                                    <option>원피스</option>
                                    <option>아우터</option>
                                    <option>가방</option>
                                    <option>악세서리</option>
                                    <option>신발</option>
                                </select>
                        </div>
                        <div class="type2_box" multiple="multiple">
                            <select id="type2" multiple size="5">
                                <option value="" disabled>== 분류 2 ==</option>
                            </select>
                                
                        </div>
                        <div class="selected_box">
                            <select id="selected" size="5">
                                <option value="" disabled>== 선택된 필터 ==</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for c in clothesobject %}
                            {% if c.uploadUser_id == user.id %}
                            {% if c.imgfile %}
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="product-item">
                                        <div class="position-relative bg-light overflow-hidden">
                                            <a href="{% url 'detail_closet' user.first_name c.id %}">
                                                <img class="img-fluid w-100" src="{{c.imgfile.url}}" width="200px" height="300px" margin="10%" padding="10%" alt="{{ c.imgfile }}">
                                            </a>    
                                        </div>
                                        <div class="text-center p-4">
                                            <a class="d-block p mb-2" href="{% url 'detail_closet' user.first_name c.id %}">{{c.name}}</a>
                                        </div>
                                        <hr width="80%" align="center">
                                        <div class="text-end p-4">
                                            <a class="d-block p mb-2 text-black-50" href="" style="">{{c.type1}}-{{c.type2}}</a>
                                        </div>
                                    </div>      
                                </div>
                            {% endif%}
                            {% endif%}
                        {% endfor %}
                    </div>
                </div>
                
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <!-- <item 1개 시작>-->
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{% static 'img/product-2.jpg' %}" alt="">
                                    
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block p mb-2" href="">Fresh Tomato</a>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- <item 1개 끝>-->
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Browse More Products</a>
                        </div>
                    </div>
                </div>
                <!-- Tab 3 -->
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{% static 'img/product-4.jpg' %}" alt="">
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block p mb-2 text-primary" href="">Fresh Tomato</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Browse More Products</a>
                        </div>
                    </div>
                </div>
                <div class="btn-container" name="btn-container">
                    <button class="btn-submit" type="button" onclick = "location.href = '{% url 'uploadCloset' user.first_name %}' " onkeyup="if(window.event.keyCode==13){}">
                        <p id="btnText">Upload</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Product End -->
{% endblock content %}

{% block jsv %}
<script defer src="{% static 'js/view_closet.js' %}"></script>
{% endblock jsv %}