{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/view.css' %}" rel="stylesheet">
                 
{% endblock style %}

{% block nav %}
    <a href="{% url 'index' %}" class="dropdown-item nav-link jamsil">Home</a>
    <a href="{% url 'about' %}" class="dropdown-item nav-link jamsil">소개</a>
{% endblock %}

{% block closet %}
    <a href="{% url 'view_closet' %}" class="nav-item nav-link active jamsil" >Clothes</a>
{% endblock closet %}

{% block content %}




    <!-- Page Header Start -->
    <div class="container-xxl py-5">
        <!-- Page Header Start -->
        <div class="container">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">내 옷장</h1>
                    <p class="jamsil">내 옷들을 등록하고 한 눈에 관리하세요!</p>
                 </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Message Start-->
    {% if messages %}
        <br>
        <div class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            {{ message.message }}
            </div>
        {% endfor %}
        </div>
    {% endif %} 
    <!-- Message End-->

    <!-- Product Start -->
    <div class="container-xxl py-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="container">
            <div class="btn-container" name="btn-container">
                <div class="d-inline p-2">
                    <button class="btn-submit" float:right; type="button" onclick = "location.href = '{% url 'uploadCloset' user.first_name %}' " onkeyup="if(window.event.keyCode==13){}">
                        <p id="btnText" class="jamsil" style="padding-top: 15px;" >옷 업로드</p>
                    </button>
                </div>
                <div>
                    <button class="btn-submit" type="button" onclick="ClickDeletBtn('show');">
                        <p id="deleteText" class="jamsil" style="padding-top: 15px;" >옷 삭제</p>
                    </button>
                </div>
                
            </div>

            <!-- deleteClothes를 넘겨받는 폼 -->
            <form id="deleteForm" method="post" action="{% url 'view_closet' user.first_name %}">
                {% csrf_token %}
                <input type="hidden" id="del_clothes" name="del_clothes" value="">
            </form>
            
            <br>
            
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-3">
                </div> 
                <div class="col-lg-9 text-start text-lg-end">
                    <div class="option_container hahmelt">
                        <div class="type1_box">
                            <select id="type1" size="5">
                                <option value="" disabled>== 분류 1 ==</option>
                                <option>상의</option>
                                <option>하의</option>
                                <option>치마</option>
                                <option>원피스</option>
                                <option>아우터</option>
                                <option>가방</option>
                                <option>악세서리</option>
                                <option>신발</option>
                            </select>
                        </div>
                        <div class="type2_box" multiple="multiple">
                            <select id="type2" multiple size="5">
                                {% comment %} <option value="" disabled>== 분류 2 ==</option> {% endcomment %}
                            </select>
                        </div>
                        <div class="selected_box">
                            <select id="selected" size="5">
                                {% comment %} <option value="">== 선택된 필터 ==</option> {% endcomment %}
                            </select>
                        </div>
                        <button class="searchFilter border border-secondary" id="searchFilter" style="border-radius: 10px">검색</button>
                        <button class="searchFilter border border-secondary" id="resetFilter" style="border-radius: 10px" onclick="location.href='{% url 'view_closet' user.first_name %}'">초기화</button>
                    </div>

                    <!-- filterList를 넘겨받는 폼 -->
                    {% csrf_token %}
                    <form id="searchForm" method="get" action="{% url 'view_closet' user.first_name %}">
                        <input type="hidden" id="fl" name="fl" value="{{ fl|default_if_none:'' }}">
                    </form>
                </div>
            </div>
            <br>
            <div class="accordion hahmelt" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <p class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <strong>검색된 필터</strong>
                    </button>
                    </p>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        {% if filterList %}
                            {{filterList}}
                        {% else %}
                            
                        {% endif %}
                    </div>
                  </div>
                </div>
            </div>
            <br>

            <div class="deleteClothesBtn" id="deleteClothesBtn" style="display: none; width: 100%; height: auto;">
                <button id="check_all" class="btn jamsil" onclick="ClickDeletBtn('allCheck');"> 전체 선택 </button>
                <button id="check_cancel" class="btn jamsil" onclick="ClickDeletBtn('allCancel')"> 전체 선택 취소 </button>
                <button id="deleteBtn" class="btn jamsil" onclick="ClickDeletBtn('ClothesDelete')"> 삭제하기 </button>
                <button id="DeleteCancel" class="btn jamsil" onclick="location.href='{% url 'view_closet' user.first_name %}'"> 취소하기 </button>
            </div>

            <br>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for c in clothesobject %}
                            {% if c.uploadUser_id == user.id and c.groupID %}
                                {% if c.groupID %}
                                {% load clothes_extra %}
                                
                                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp position-relative" data-wow-delay="{{ forloop.counter0|floatformat:1|delay:0.1 }}s">
                                    <div class="product-item jamsil shadow" style="border-radius: 20px;">

                                        <div class="position-relative bg-light overflow-hidden" style="border-radius: 20px 20px 0 0;">
                                            <a href="{% url 'detail_closet' user.first_name c.groupID %}">
                                                
                                                <img class="img-thumbnail w-100" style="border-radius: 20px 20px 0 0; width: 300px; height: 300px;" src="{{c.groupID|getGroupIdFirst}}" width="200px" height="300px" margin="10%" padding="10%" alt="">
                                                
                                            </a>
                                        </div>
                                        
                                        <div class="text-center p-4">
                                            <a class="d-block p mb-2" href="{% url 'detail_closet' user.first_name c.groupID %}" style="font-size:1.3rem;">{{c.name}}</a>
                                        </div>
                                        <hr width="90%" align="center" style="margin-left: 14px; margin-top: 0px; margin-bottom: 0px;">
                                        <div class="text-end p-3">
                                            <a class="d-block p mb-2 text-black-50" href="{% url 'detail_closet' user.first_name c.groupID %}" style='padding-right: 10px;'>{{c.type1}}-{{c.type2}}</a>
                                        </div>
                                        
                                    </div>
                                    {% if c.ucodi == True %}
                                    <a href="{% url 'detail_usercodi' c.groupID %}"><span class="translate-middle badge bg-danger rounded-pill jamsil shadow" style="position: relative; left: 98%; font-size: 1rem;">자랑!</span></a>
                                    {% endif %}   

                                    <div class="delete_checkbox position-absolute" style="left: 25px; top: 15px; display: none;" >
                                        {% csrf_token %}
                                        <input style="width: 20px; height: 20px;" type="checkbox" name="delete_clothes" value="{{c.groupID}}">
                                        
                                    </div>
                                    
                                </div>
                                

                                {% endif%}
                            {% endif%}
                            
                        {% endfor %}
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- Product End -->
{% endblock content %}

{% block jsv %}
<!--
<script defer src="{% static 'js/view_closet.js' %}"></script>
-->
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });
    const typeCategory = {
        '상의':  ["== 상의 ==","니트/스웨터","셔츠/블라우스","후드 티셔츠", "피케/카라 티셔츠","맨투맨/스웨트셔츠", "반소매 티셔츠","긴소매 티셔츠","민소매 티셔츠","기타 상의"],
        '하의': ["== 하의 ==","데님 팬츠","숏 팬츠","코튼 팬츠", "레깅스","슈트 팬츠/슬랙스","점프 슈트/오버올","트레이닝/조거 팬츠","기타 바지"],
        '치마': ["== 치마 ==","미니 스커트", "미디 스커트","롱 스커트"],
        '원피스': ["== 원피스 ==","미니 원피스", "미디 원피스","맥시 원피스"],
        '아우터': ["== 아우터 ==","후드 집업","환절기 코트", "블루종/MA-1","겨울 코트", "레더/라이더스 재킷","무스탕/퍼","롱패딩/롱헤비 아우터","슈트/블레이저 재킷","숏패딩/숏헤비 아우터","카디건","아노락 재킷","패딩 베스트","플리스/뽀글이","트레이닝 재킷","기타 아우터"],
        '가방': ["== 가방 ==","백팩","메신저/크로스 백","파우치 백","숄더백","에코백","토트백","클로치 백","웨이스트백/힙색"],
        '악세서리': ["== 악세서리 ==","모자","레그웨어","머플러","장갑","시계","팔찌","귀걸이","반지","발찌","목걸이","헤어 액세서리"],
        '신발': ["== 신발 ==","구두","샌들","로퍼","힐/펌프스","플랫 슈즈","부츠","캔버스/단화","스포츠 스니커즈"],
}


var selectedType1 = []; //type2 필터
var selectedFilter = []; //최종 필터



//동적으로 type2 삽입하기
function addType2(type1_val, optLen) {
    // select 엘리먼트 가져오기
    var type2_element = document.getElementById("type2");

    //선택리스트 만들기
    if (!(type1_val in selectedType1)) { //type1이 선택되지 않았으면
        selectedType1.push(type1_val);
    } else { }//type1이 이미 선택됐으면

    // 새로운 option 엘리먼트 생성하기
    if (selectedType1.length <= 2) {
        for (let i = 0; i < optLen; i++) { //type2의 개수(삽입할 옵션개수)만큼 반복
            //$('.type2_box').multiSelect('addOption',(typeCategory[type1_val][i]));
            //한번 추가했다가 지우면 다시 추가가 안됨.. 

            let newOption = document.createElement("option");
            newOption.text = typeCategory[type1_val][i];

            // option 엘리먼트를 select 엘리먼트에 추가하기
            type2_element.add(newOption);
        }
    }
}

//기존 type2 삭제하기
function delType2() {
    if (selectedType1.length >= 2) {
        var oldElement = selectedType1.shift();
        var optLen = typeCategory[oldElement].length; 

        const type2_element = document.getElementById("type2");
        for (let i = 0; i < optLen; i++) {
            type2_element.remove(type2_element.options[type2_element.options.length]);
        }
    }
}

//type1으로 type2 추가
document.getElementById("type1").addEventListener("click", function () {
    var type1_val = document.getElementById("type1").value;
    var optLen = typeCategory[type1_val].length; //getType에서 type1값을 가져옴

    addType2(type1_val, optLen);
    delType2();
})

// selected 추가하는 함수
function addSelected() {
    const type2_element = document.getElementById("type2"); //선택한 옵션값
    const type2_val = type2_element.value; //선택한 옵션값
    const selected_element = document.getElementById("selected"); //추가할 요소


    // 선택된 리스트는 숨기기
    const selectedOption = type2_element.selectedIndex;
    type2_element.options[selectedOption].hidden = true;


    if(selectedFilter.indexOf(type2_val) < 0){
        // 선택 리스트 만들기
        selectedFilter.push(type2_val);
        // 새로운 option 엘리먼트 생성하기
        let newOption = document.createElement("option");
        newOption.text = type2_val;
        // option 엘리먼트를 select 엘리먼트에 추가하기
        selected_element.add(newOption);
    }else{
        
    }

}

//type2로 selected 추가
document.getElementById("type2").addEventListener("click", function () {

    addSelected();
})

// selected 삭제하는 함수
function delSelected() {
    const type1_val = document.getElementById("type1").value;
    const optLen = typeCategory[type1_val].length; 
    const type2_element = document.getElementById("type2"); //선택한 옵션값
    const type2_val = type2_element.value;
    const selected_element = document.getElementById("selected"); //다시 취소할 옵션 요소
    const selected_val = selected_element.value; //취소할 옵션값

    //selectedFilter에서 옵션을 삭제
    for (let i = 0; i < selectedFilter.length; i++) {
        if (selectedFilter[i] == selected_val) {
            selectedFilter.splice(i, 1);        // i번째 요소부터 한 개만 삭제
            break;
        }
    }

    //type2에 옵션 되돌리기
    for (let i = 0; i < optLen; i++) { //type2의 개수(삽입할 옵션개수)만큼 반복
        
        if (typeCategory[type1_val][i] == selected_val) {
            type2_element.options[i].hidden = false;
            break;
        }
    }

    const selectedOption = selected_element.selectedIndex;
    selected_element.remove([selectedOption]);              
}

//selected 제거
document.getElementById("selected").addEventListener("click", function () {

    delSelected();
})

//selectedFilter 보내기
function SendFilter(){
    $(document).ready(function() {
        $('#searchFilter').click(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'view_closet' user.first_name%}", // 장고 URL 패턴 이름
                data: {
                    'filter': selectedFilter,
                },
                dataType: "json",
                success: function(data) {
                    console.log(data.clothes);
                    console.log('filterList',filterList);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
};


//filter 검색
document.getElementById("searchFilter").addEventListener("click", function () {
    
    //SendFilter();

    document.getElementById('fl').value = selectedFilter;
    console.log(document.getElementById('fl').value)
    document.getElementById('searchForm').submit();

})




/* ------------- 옷 삭제 & 삭제 옵션 버튼 함수 ------------------*/
function ClickDeletBtn(value){
    
    var v = value;          // 매개변수 값을 v에 담기
    var deleteClothes = [];   // 삭제할 옷들의 groupID 담기
    var deleteBtn = document.getElementById("deleteBtn");       //삭제하기 버튼

    switch (v) {

        case 'show':   // 옷 삭제 클릭 시 checkbox랑 삭제 옵션 보여주기
            $(".delete_checkbox").show();    //.show()는 style"display: none;"으로 돼 있어야 실행됨
            $(".deleteClothesBtn").show();
        
            break;

        case 'allCheck': // 전체 선택
            $('[name=delete_clothes]').prop('checked', true);       //checked 값을 true로 반환

            break;
        
        case 'allCancel':  //전체 선택 취소
            $('[name=delete_clothes]').prop('checked', false);      //checked 값을 false로 반환

            break;
        
        case 'ClothesDelete': //삭제하기
            $("input:checkbox[name='delete_clothes']:checked").each(function() {
                deleteClothes.push($(this).val());                                  // 체크된 것만 값을 뽑아서 배열에 push
                document.getElementById('del_clothes').value = deleteClothes;       // 배열을 input 타입의 del_clothes 속 value에 담기
                //console.log(deleteClothes);
                document.getElementById('deleteForm').submit();  
            })

            break;
        
        case 'DeleteCancel':    //취소하기
            $(".deleteClothesBtn").hide();      //전체 삭제, 전체 삭제, ... 등 숨기기              
            $(".delete_checkbox").hide();       //체크박스 숨기기

            break;
    }
}


/*
//실시간 체크박스 선택 이벤트 함수
function checkEvent(){
    

    $("input:checkbox[name='delete_clothes']").on("change", function(){
        if($(this).is(":checked")){             //체크된 상태
            $(this).prop("checked", true);      //체크된 값은 true로 반환
            
            deleteBtn.disabled = false;            //'삭제하기' 버튼 활성화
            //alert($(this).prop("checked"));
        }
        else {  //체크 해제된 상태
            $(this).prop("checked", false);     //체크 해제되면 false로 반환
            //alert($(this).prop("checked"));

        }
    })
}

*/
</script> 
{% endblock jsv %}