{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">가상 피팅</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}
{% block closet %}
    <a href="#" class="nav-link dropdown-toggle active jamsil" data-bs-toggle="dropdown">옷장</a>
{% endblock closet %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-xxl py-5">
        <!-- Page Header Start -->
        <div class="container">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3 jamsil" style="font-size: 4vw">가상 피팅</h1>
                 </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    {% if user.is_authenticated %}
    <div class="container-xxl py-5 justify-content-center">  
        <div class="row justify-content-center">
            <div class="col-md-6 ">
                <video id="video" width="100%" height="auto" autoplay style="transform: rotateY(180deg); -webkit-transform:rotateY(180deg);"></video>
            </div>
        </div>       
    </div>
    {% endif %}
    <!-- Blog End -->
{% endblock %}

{% block jsv %}
<script defer src="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.js"></script>
<script defer src="https://releases.transloadit.com/uppy/locales/v3.0.7/ko_KR.min.js"></script>
<!-- Uppy 코드 삽입 예정,, 수정하고,, -->
<script>
    const video = document.querySelector('#video');
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
            video.onloadedmetadata = () => {
                video.play();
            };
        })
        .catch(err => {
            console.error(err);
        });
</script>
{% endblock jsv %}