{% extends 'base.html' %}
{% load static %}
{% block style %}
<link href="{% static 'css/view.css' %}" rel="stylesheet">
{% endblock style %}

{% block nav %}
    <a href="{% url 'index' %}" class="nav-item nav-link jamsil">Home</a>
    <a href="{% url 'about' %}" class="nav-item nav-link jamsil">소개</a>
{% endblock %}

{% block closet %}
    <a href="{% url 'view_closet' %}" class="nav-item nav-link active jamsil" >Clothes</a>
{% endblock closet %}
{% block content %}
    <!-- Product Start -->
    <div class="container-xxl py-5 wow fadeIn">

        <!-- 결과확인할 사진 값 넘겨받는 폼-->
        <form id="result_Form" method="POST" action="{% url 'virtual_fit_photo_result' user.first_name %}">
            {% csrf_token %}
            <input type="hidden" id="model_result" name="model_result" value="">
            <input type="hidden" id="cloth_result" name="cloth_result" value="">
        </form>

        <!-- deleteModels를 넘겨받는 폼 -->
        <form id="model_DeleteForm" method="post" action="{% url 'virtual_fit_photo' user.first_name %}">
            {% csrf_token %}
            <input type="hidden" id="del_model" name="del_model" value="">
        </form>

        <!-- deleteClothes를 넘겨받는 폼 -->
        <form id="cloth_DeleteForm" method="post" action="{% url 'virtual_fit_photo' user.first_name %}">
            {% csrf_token %}
            <input type="hidden" id="del_cloth" name="del_cloth" value="">
        </form>


        <div class="container">
            <!-- product Header Start -->
            
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" style="bottom: 50px;top: 100px;" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3 jamsil">가상피팅(사진)</h1>
                    <p class="jamsil"> <i class="fa-duotone fa-check"></i> 사진으로 옷을 입어봐요!</p>
                    <p class="jamsil"> <i class="fa-duotone fa-check"></i> 모델과 옷을 선택하면 옷 입고 있는 모델이 등장!</p>
                </div>
            </div>
            <br>
            
            <div class="text-start text-lg-end wow slideInRight align-items-end" data-wow-delay="0.1s">
                <div class="btn-container" name="btn-container">
                    <div class="d-inline p-2">
                        <button type="button" class="btn-submit" style="width:100px; height:50px; font-size: 15px;" float:right; onclick="location.href='{% url 'virtual_fit_upload' user.first_name%}'">
                            <p id="btnText" class="jamsil" style="padding-top: 15px; " >추가하기</p>
                        </button>
                        <button type="button" class="btn-submit" style="width:100px; height:50px; font-size: 15px;" onclick="ClickDeletBtn('show');">
                            <p id="btnText" class="jamsil" style="padding-top: 15px; " >삭제하기</p>
                        </button>
                        <button type="submit" class="btn-submit" style="width:100px; height:50px; font-size: 15px;" onclick="Result();"  >
                            <p id="btnText" class="jamsil" style="padding-top: 15px; " >결과 확인</p>
                        </button>
                    </div>
                    
                </div>
                <br>
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5 jamsil">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-1">모델</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-2">옷 </a>
                    </li>
                </ul>
                                        
            </div>
            
                
        <!-- product Header End -->
            
            <!-- Product item Start-->
            <div class="tab-content">
                {% load clothes_extra %}
                <!-- Choose Model -->
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="deleteClothesBtn" id="deleteClothesBtn" style="width: 100%; height: auto;">
                        <button id="check_all" class="btn jamsil" onclick="ClickDeletBtn('model_allCheck');"> 전체 선택 </button>
                        <button id="check_cancel" class="btn jamsil" onclick="ClickDeletBtn('model_allCancel')"> 전체 선택 취소 </button>
                        <button id="model_deleteBtn" class="btn jamsil" onclick="ClickDeletBtn('ModelDelete')"> 삭제하기 </button>
                        <button id="ModelDeleteCancel" class="btn jamsil" onclick="location.href='{% url 'virtual_fit_photo' user.first_name %}'"> 취소하기 </button>
                    </div>
                    <div class="row g-4">
                        {% for m in model_paging%}
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item jamsil shadow" style="border-radius: 20px;">
                                <div class="position-relative bg-light overflow-hidden" style="border-radius: 20px 20px 0 0;">
                                    <label class="img-thumbnail w-100" for="m-{{m.ID}}" onclick="toggleCheckbox('m-{{m.ID}}')">
                                        <img class="img-thumbnail w-100" style="border-radius: 20px 20px 0 0; width: 300px; height: 300px;" src="{{m.image.url}}" width="200px" height="300px" margin="10%" padding="10%" alt="">
                                    </label>
                                    {% csrf_token %}
                                    <input class="position-absolute start-0 top-0 m-4 py-1 px-3" style="width: 20px; height: 20px;" type="checkbox" name="model" id="m-{{m.ID}}" value="{{m.ID}}">
                                </div>
                                <div class="text-center p-4 jamsil">
                                    <a class="d-block h5 mb-2" >{{m.name}}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Page bar Start-->
                    <div class="col-12 text-center" style="margin-top: 40px; margin-bottom: 10px;">
                        {% if model_paging.has_other_pages %}
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            {% if model_paging.has_previous %}
                                <a class="btn btn-primary rounded-pill px-3" href="?mpage=1">처음</a>
                                <a class="btn btn-primary rounded-pill px-3" href="?mpage={{ model_paging.previous_page_number }}">이전</a>
                            {% endif %}
                            {% for i in model_paging.paginator.page_range %}
                                {% if model_paging.number == i %}
                                    <a class="btn btn-primary rounded-pill px-5 active" href="#">{{ i }}</a>
                                {% elif i > model_paging.number|add:'-10' and i < model_paging.number|add:'10' %}
                                    <a class="btn btn-primary rounded-pill px-3" href="?mpage={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if model_paging.has_next %}
                                <a class="btn btn-primary rounded-pill px-3" href="?mpage={{ model_paging.next_page_number }}">다음</a>
                                <a class="btn btn-primary rounded-pill px-2" href="?mpage={{ model_paging.paginator.num_pages }}">마지막</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- Page bar Start-->                    
                </div>
                <!-- Choose cloth -->
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="deleteClothesBtn" id="deleteClothesBtn" style="width: 100%; height: auto;">
                        <button id="check_all" class="btn jamsil" onclick="ClickDeletBtn('cloth_allCheck');"> 전체 선택 </button>
                        <button id="check_cancel" class="btn jamsil" onclick="ClickDeletBtn('cloth_allCancel')"> 전체 선택 취소 </button>
                        <button id="cloth_deleteBtn" class="btn jamsil" onclick="ClickDeletBtn('ClothDelete')"> 삭제하기 </button>
                        <button id="ClothDeleteCancel" class="btn jamsil" onclick="location.href='{% url 'virtual_fit_photo' user.first_name %}'"> 취소하기 </button>
                    </div>
                    <div class="row g-4">
                        {% for c in cloth_paging%}
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item jamsil shadow" style="border-radius: 20px;">
                                <div class="position-relative bg-light overflow-hidden" style="border-radius: 20px 20px 0 0;">
                                    <label for="c-{{c.ID}}" onclick="toggleCheckbox('c-{{c.ID}}')">
                                        <img class="img-thumbnail w-100" style="border-radius: 20px 20px 0 0; width: 300px; height: 300px;" src="{{c.image.url}}" width="200px" height="300px" margin="10%" padding="10%" alt="">
                                    </label>
                                    {% csrf_token %}
                                    <input class="position-absolute start-0 top-0 m-4 py-1 px-3" style="width: 20px; height: 20px;" type="checkbox" name="cloth" id="c-{{c.ID}}" value="{{c.ID}}">
                                </div>
                                <div class="text-center p-4 jamsil">
                                    <a class="d-block h5 mb-2">{{c.clothesname}}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}                        
                    </div>
                    <!-- Page bar Start-->
                    <div class="col-12 text-center" style="margin-top: 40px; margin-bottom: 10px;">
                        {% if cloth_paging.has_other_pages %}
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            {% if cloth_paging.has_previous %}
                                <a class="btn btn-primary rounded-pill px-3" href="?cpage=1">처음</a>
                                <a class="btn btn-primary rounded-pill px-3" href="?cpage={{ cloth_paging.previous_page_number }}">이전</a>
                            {% endif %}
                            {% for i in cloth_paging.paginator.page_range %}
                                {% if cloth_paging.number == i %}
                                    <a class="btn btn-primary rounded-pill px-5 active" href="#">{{ i }}</a>
                                {% elif i > cloth_paging.number|add:'-10' and i < cloth_paging.number|add:'10' %}
                                    <a class="btn btn-primary rounded-pill px-3" href="?cpage={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if cloth_paging.has_next %}
                                <a class="btn btn-primary rounded-pill px-3" href="?cpage={{ cloth_paging.next_page_number }}">다음</a>
                                <a class="btn btn-primary rounded-pill px-2" href="?cpage={{ cloth_paging.paginator.num_pages }}">마지막</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- Page bar Start-->
                </div>
            </div>
            <!-- Product item End-->
        </div>
        
    </div>
    <!-- Product End -->
{% endblock content%}

{%block jsv%}
<script>
    function toggleCheckbox(checkboxId) {
        $("input:checkbox[id=checkboxId]").prop("checked", true);  
    }
    
    const Toast = Swal.mixin({ //팝업창
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000,
      })

    var cloth_arr = [];
    var model_arr= [];
    
    function Result(){

        $("input:checkbox[name='model']:checked").each(function() {
            model_arr.push($(this).val());                                  // 체크된 것만 값을 뽑아서 배열에 push
            document.getElementById('model_result').value = model_arr;         // 배열을 del_clothes의 value에 담기
            //console.log(model_arr;

                
        })

        $("input:checkbox[name='cloth']:checked").each(function() {
            cloth_arr.push($(this).val());                                  // 체크된 것만 값을 뽑아서 배열에 push
            document.getElementById('cloth_result').value = cloth_arr;       // 배열을 del_clothes의 value에 담기
            //console.log(cloth_arr); 

        })
        if (cloth_arr.length == 0){
            Toast.fire({
                icon: 'error',
                title: '옷을 선택하지 않았습니다.',
                customClass: {
                    title: 'jamsil',
                }
              });
        }
        if(model_arr.length == 0){
            Toast.fire({
                icon: 'error',
                title: '모델을 선택하지 않았습니다.',
                customClass: {
                    title: 'jamsil',
                }
              });
        }
        if(cloth_arr.length >0 && model_arr.length>0){
            Swal.fire({
                icon: 'success',
                title: '가상피팅 결과 생성 중',
                text: '잠시 후 결과가 나옵니다.',
                showConfirmButton: false,
                allowOutsideClick: false,
                customClass: {
                    title: 'jamsil',
                    container: 'jamsil',
                }
              });
            document.getElementById('result_Form').submit(); 
        }

    }
   

    /* ------------- 옷 삭제 & 삭제 옵션 버튼 함수 ------------------*/
    function ClickDeletBtn(value){
        var v = value;              // 매개변수 값을 v에 담기
        var Models = [];            // 체크된 모델들 name 담기
        var Clothes = [];           // 체크된 옷들의 name 담기
        var model_deleteBtn = document.getElementById("model_deleteBtn");       //모델 tab의 삭제하기 버튼
        var cloth_deleteBtn = document.getElementById("cloth_deleteBtn");       //옷 tab의 삭제하기 버튼
        

        switch (v) {

            case 'show':   // 옷 삭제 클릭 시 checkbox랑 삭제 옵션 보여주기
                $("input:checkbox[name='model']:checked").each(function() {
                    Models.push($(this).val());                                  // 체크된 것만 값을 뽑아서 배열에 push
                    document.getElementById('del_model').value = Models;         // 배열을 del_clothes의 value에 담기
                    //console.log(deleteClothes);
                        
                    document.getElementById('model_DeleteForm').submit();  
                })
                $("input:checkbox[name='cloth']:checked").each(function() {
                    Clothes.push($(this).val());                                  // 체크된 것만 값을 뽑아서 배열에 push
                    document.getElementById('del_cloth').value = Clothes;       // 배열을 del_clothes의 value에 담기
                    //console.log(deleteClothes);
                     
                })
                    
                Swal.fire({
                    title: '삭제하시겠습니까?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    reverseButtons: true,
                    customClass: {
                        title: 'jamsil'}
                }).then((result)=>{
                    if(result.isConfirmed){
                        Swal.fire({
                            title: '삭제 완료!',
                            icon:'success',
                            confirmButtonColor: '#3085d6',
                            customClass: {
                                title: 'jamsil'}
                        }).then((result)=>{
                            document.getElementById('model_DeleteForm').submit();
                            document.getElementById('cloth_DeleteForm').submit();   
                            })
                    }else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        Swal.fire({
                            title: '취소',
                            icon:'error',
                            confirmButtonColor: '#3085d6',
                            customClass: {
                                title: 'jamsil'}
                        })
                        setTimeout(() => {}, 3000)
                    }
                })
                 
            
                break;

            case 'model_allCheck': // 모델-전체 선택
                $('[name=model]').prop('checked', true);       //checked 값을 true로 반환

                break;
            
            case 'cloth_allCheck': // 옷-전체 선택
                $('[name=cloth]').prop('checked', true);       //checked 값을 true로 반환

                break;
            
            case 'model_allCancel':  //전체 선택 취소
                $('[name=model]').prop('checked', false);      //checked 값을 false로 반환

                break;
                
            case 'cloth_allCancel':  //전체 선택 취소
                $('[name=cloth]').prop('checked', false);      //checked 값을 false로 반환

                break;

            case 'ModelDelete': //삭제하기

                $("input:checkbox[name='model']:checked").each(function() {
                        Models.push($(this).val());                                  // 체크된 것만 값을 뽑아서 배열에 push
                        document.getElementById('del_model').value = Models;         // 배열을 del_clothes의 value에 담기
                        //console.log(deleteClothes);
                            
                        //document.getElementById('model_DeleteForm').submit();  
                    })

                    alert(Models);

                    Swal.fire({
                        title: '삭제하시겠습니까?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        reverseButtons: true,
                        customClass: {
                            title: 'jamsil'}
                    }).then((result)=>{
                        if(result.isConfirmed){
                            Swal.fire({
                                title: '삭제 완료!',
                                icon:'success',
                                confirmButtonColor: '#3085d6',
                                customClass: {
                                    title: 'jamsil'}
                            }).then((result)=>{
                                document.getElementById('model_DeleteForm').submit();
                              })
                        }else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            Swal.fire({
                                title: '취소',
                                icon:'error',
                                confirmButtonColor: '#3085d6',
                                customClass: {
                                    title: 'jamsil'}
                            })
                            setTimeout(() => {}, 3000)
                        }
                    })
                    break;
            
            case 'ClothDelete': //삭제하기

                $("input:checkbox[name='cloth']:checked").each(function() {
                    Clothes.push($(this).val());                                  // 체크된 것만 값을 뽑아서 배열에 push
                    document.getElementById('del_cloth').value = Clothes;       // 배열을 del_clothes의 value에 담기
                    //console.log(deleteClothes);
                    //document.getElementById('cloth_DeleteForm').submit();  
                })
                

                alert(Clothes);

                Swal.fire({
                    title: '삭제하시겠습니까?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    reverseButtons: true,
                    customClass: {
                        title: 'jamsil'}
                }).then((result)=>{
                    if(result.isConfirmed){
                        Swal.fire({
                            title: '삭제 완료!',
                            icon:'success',
                            confirmButtonColor: '#3085d6',
                            customClass: {
                                title: 'jamsil'}
                        }).then((result)=>{
                            document.getElementById('cloth_DeleteForm').submit();   
                          })
                    }else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        Swal.fire({
                            title: '취소',
                            icon:'error',
                            confirmButtonColor: '#3085d6',
                            customClass: {
                                title: 'jamsil'}
                        })
                        setTimeout(() => {}, 3000)
                    }
                })
                break;
            
        }
    }

</script>
{%endblock jsv%}